* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html,
body {
    position: relative;
    height: 100%;
}

nav {
    background-color: #101010;
    height: 100%;
    position: fixed;
    padding: 0px 30px;
    overflow-y: auto;
    width: 15%;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);

}

nav {

    scrollbar-color: #6d6d6d #101010;
}



nav .logo {
    text-align: center;
    padding: 10px 0px;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-size: 55px;
}

nav .logo span {
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #C545ED;
}

.nav-hr {
    background-color: #252525;
    border: none;
    padding: 0.2px;
    margin: 5px 0px;


}

nav li:hover {

    color: #7b2794;
}

.nav-ul {
    display: flex;
    flex-direction: column;
}

.nav-ul li {
    position: relative;
    display: inline-block;
    padding: 2px;
    overflow: hidden;
}

.nav-ul li a {
    position: relative;
}

.nav-ul li .nav-text {
    position: relative;
}

.nav-ul li .nav-text::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 1px;
    background-color: #7b2794;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.8s;
}

.nav-ul li:hover .nav-text::after {
    transform: scaleX(1);
}



nav a {
    text-decoration: none;
}

nav .nav-ul li a {
    color: inherit;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    width: 100%;
}

nav .nav-ul li:hover a {
    color: #7b2794;
}

nav ul li {
    color: #b5b5b5cb;
    font-size: 18px;
    display: flex;
    transition: 0.4s;
    align-items: center;
    margin: 15px 0px;
}

nav .nav-icon {
    font-size: 15px;
    margin-right: 10px;


}

nav .cats-ul {
    overflow: hidden;
    height: 260px;
    transition: 0.5s;
}

nav .cat {
    color: #797878cb;
    font-size: 20px;
    margin: 10px 30px;


}

nav .cats-ul .cat a {
    color: inherit;
    text-decoration: none;
    display: block;
}


nav .cats-ul .cat:hover a {
    color: #b0b0b0;
}

.hide-ul {
    height: 40px !important;


}

nav .cats-li {
    cursor: pointer;
}

nav .cat:hover {

    color: #b0b0b0;
}

/* sag teref */

.right-side {
    width: 85%;
    margin-left: auto;
    background-color: #1A1A1A;
}


.search-profile {
    width: 80%;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.search-profile-nav {
    width: 85%;

    position: fixed;
    z-index: 1000;
    padding: 15px 0px;
}

.scroll-nav {
    box-shadow: 0 -5px 10px rgb(0 0 0 / 7%);
    background-color: #101010;

}

.search-result-div {
    width: 40%;
    display: flex;
    align-items: center;

}

.input-style {
    background-color: #a5a5a5;
    display: flex;
    border-radius: 1cm;
    overflow: hidden;
    padding: 10px 15px;
    width: 90%;
    align-items: center;


}

.input-style input {
    border: none;
    padding: 0px 10px;
    background-color: #a5a5a5;
    display: inline-block;
    font-size: 20px;
    width: 100%;
    color: #2b2b2b;
}

.input-style input:focus {

    outline: none;
}

.search-icon {
    color: #2b2b2b;
}

.input-style input::placeholder {

    color: #2b2b2b;
}

.search-div {
    width: 85%;

}

.cart-profile {
    display: flex;
    align-items: center;
}

.cart-icon {
    position: relative;
}

.cart-profile i {
    font-size: 30px;
    transition: 0.5s;
    cursor: pointer;
    color: #dddddd;

}

.cart-profile i:hover {

    color: #7b2794;

}

.cart-say {
    width: 20px;
    height: 20px;
    background-color: #ab3737;
    position: absolute;
    top: -13px;
    right: -7px;
    color: rgb(40, 40, 40);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.profile-img-circle {

    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: -50px;

}

.profile-img-icon {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

/* swiper 1 */
.swiper {
    width: 100%;
    height: 560px;
}

.slide-grad {
    width: 100%;
    height: 100%;
    background-color: #00000084;
    position: absolute;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 1cm !important;
}

.text-btn {
    position: absolute;
    z-index: 100;
    color: white;
    width: 100%;
    padding: 50px;
    font-size: 60px;
}

.text-btn h3 {
    width: 50%;

}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
    border-radius: 1cm !important;
    position: relative;


}

.header-dec {
    border: none;
    width: 90%;
    padding: 0.8px;
    margin: 10px 0px;
    background-color: white;
}

.text-btn button {
    background-color: #7b2794;
    font-size: 40px;
    color: rgb(255, 255, 255);
    border: none;
    padding: 5px;
    transition: 0.5s;
    width: 12%;
    cursor: pointer;
}

.text-btn button:hover {
    background-color: #581c6a;
    width: 20%;
    color: rgb(216, 216, 216);

}


.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1) !important;
    background: #7b2794 !important;
}

.header {
    width: 100%;
    min-height: 610px;
    background-color: #1A1A1A;

}

.swiper_1 {
    width: 100%;
    height: 200px;
    border-radius: 0.3cm;


}

.right-side-container {
    width: 80%;
    /* background-color: #7b2794; */
    padding-top: 100px;
    padding-bottom: 200px;
    margin: auto;

}

/* info div */

.info-div {
    width: 100%;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-around;
}

.info-card {
    width: 150px;
    height: 150px;
    background-color: #343434;
    display: flex;
    padding: 10px 5px 5px 5px;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;

}

.info-card i {
    width: 140px;
    height: 60px;
    display: flex;
    align-items: end;
    justify-content: center;
    text-align: center;
    font-size: 55px;
    color: #7b2794;

}


.info-card h2 {
    flex: 1;
    text-align: center;
    color: #dddddd;

}


.info-dec-top::before {
    content: "";
    display: inline-block;
    width: 80px;
    height: 4px;
    background-color: #581c6a;
    position: absolute;
    top: -10px;
    left: -10px;
}

.info-dec-top::after {
    content: "";
    display: inline-block;
    width: 4px;
    height: 80px;
    background-color: #581c6a;
    position: absolute;
    top: -10px;
    left: -10px;
}

.info-dec-bottom::before {
    content: "";
    display: inline-block;
    width: 80px;
    height: 4px;
    background-color: #581c6a;
    position: absolute;
    bottom: -10px;
    right: -10px;
}

.info-dec-bottom::after {
    content: "";
    display: inline-block;
    width: 4px;
    height: 80px;
    background-color: #581c6a;
    position: absolute;
    bottom: -10px;
    right: -10px;
}

/* games */
.games-container {
    border-radius: 0.7cm;
    width: 100%;
    min-height: 1900px;
    padding: 50px 50px 0px 50px;

    background-color: #262626;

}

.games-container .name-span {
    color: #C545ED;
}

.games-container h2 {
    color: white;
    position: relative;
    font-size: 40px;
    margin-bottom: 30px;
}

.game-store-btn {
    color: #ddd;
    text-decoration: none;
    position: absolute;
    right: 10px;
    transition: 0.5s;

}

.game-store-btn:hover {
    color: #C545ED;
    text-decoration: none;
    position: absolute;
    right: 6px;

}

.dcounted-games .swiper {
    width: 100%;
    height: 400px;
    border-radius: 0.2cm !important;
    margin-bottom: 100px;
}

.dcounted-games .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    border-radius: 0.2cm !important;

    align-items: center;
}

.dcounted-games .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.2cm !important;
    transition: 1s;
}

.game-info {
    display: inline-block;
    width: 100%;
    display: flex;
    height: 100%;

}

.game-info:hover img {
    transform: scale(1.05);

}

.price-div {
    width: 55%;
    padding: 12px 10px;
    display: flex;
    background-color: #101010e5;
    position: absolute;
    z-index: 100;
    border-radius: 1cm;
    bottom: 10px;
    left: 10px;
    justify-content: center;
    font-size: 23px;
    color: #f4f4f4;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.price-div .old-price {
    text-decoration: line-through;
    font-size: 15px;
    margin-right: 10px;
    color: #a5a5a5;
}

.dcounted-games .price-div .new-price {
    color: #71aa7c;

}

.faiz-div {
    position: absolute;
    width: 25%;
    background-color: #488553;
    color: white;
    font-size: 25px;
    padding: 10px 0px;
    right: 0px;
    top: 90px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

}

/* popular games */
.popular-games .swiper,
.free-games .swiper {
    width: 100%;
    height: 300px;
    border-radius: 0.2cm !important;
    margin-bottom: 100px;
}




.popular-games .swiper-slide,
.free-games .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    border-radius: 0.2cm !important;
    transition: 1s;
    align-items: center;
}

.popular-games .swiper-slide img,
.free-games .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.2cm !important;
    transition: 1s;
}

/* category karuseli */


.categories-carousel .swiper {
    width: 100%;
    height: 170px;
    border-radius: 0.2cm !important;
    margin-bottom: 100px;
}




.categories-carousel .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    border-radius: 0.2cm !important;
    transition: 1s;
    align-items: center;
}

.categories-carousel .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.2cm !important;
    transition: 1s;
}

.categories-carousel .slide-grad {
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories-carousel .slide-grad p {
    color: white;
    font-size: 30px !important;
    background-color: #f4f4f435;
    width: 100%;
    padding: 10px;
}

/* footer */

footer {
    width: 85%;
    background-color: #242424;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.09);

    /* display: flex;
    justify-content: space-evenly; */
    margin-left: auto;
}

footer ul {
    width: 25%;

    list-style: none;
}

footer li:nth-child(1) {
    color: white;
    height: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
    /* text-align: center; */
    margin-bottom: 30px;


}

footer ul li:not(footer li:nth-child(1)),
footer a {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    color: #444;
    font-style: normal;
    transition: 0.5s;

}



footer ul:nth-child(2) li a:not(footer li:nth-child(1)) {
    position: relative;
    color: #727272;
    font-size: 15px;
    text-decoration: none;
    transition: 1s;
    overflow: hidden;
}

footer ul:nth-child(2) li:not(footer li:nth-child(1)) {

    margin-bottom: 10px;
}

footer ul:nth-child(2) li a:not(footer li:nth-child(1)):hover {

    color: #7b2794 !important;
}

footer ul:nth-child(2) li a:not(footer li:nth-child(1))::after {
    position: absolute;
    content: "";
    display: inline-block;
    height: 1px;
    bottom: -1px;
    left: 50%;
    width: 0%;
    transition: 0.6s;
    background-color: #7b2794;
}

footer ul:nth-child(2) li a:not(footer li:nth-child(1)):hover::after {
    position: absolute;
    content: "";
    display: inline-block;
    height: 1px;

    left: 0%;

    width: 100%;

    background-color: #7b2794;
}




footer ul:nth-child(1) li:nth-child(2) {
    color: #b3b2b3;
    font-size: 15px;
    font-weight: 200;
    padding-right: 50px;
}



footer .logo {

    font-size: 50px !important;
}

footer .logo span {
    color: #C545ED;
}

footer ul:nth-child(3) li {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px;
}

footer ul:nth-child(3) li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b3b2b3;
    height: 40px;
    width: 40px;
    margin: 0px 8px 8px;
    text-decoration: none;
    position: relative;

}

footer ul:nth-child(3) li a::before {
    content: "";
    display: inline-block;
    border: 2px solid #b3b2b3;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: 0.5s;
}

footer ul:nth-child(3) li a:hover {
    color: #7b2794;
}

footer ul:nth-child(3) li a:hover::before {
    border: 2px solid #7b2794;
    transform: rotateY(180deg);

}

footer .footer-container {
    margin: auto;
    width: 72%;
    display: flex;
    padding: 70px 0px;
    justify-content: space-between;
    border-bottom: 1px solid #444;
}

.footer-bottom {
    background-color: #242424;
    width: 100%;
    text-align: center;
    padding: 30px;
}

.footer-bottom p {
    color: rgba(255, 255, 255, 0.359);
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-size: 14px;
    font-style: normal;
}

.footer-bottom .mini-logo {
    color: rgb(155, 155, 155);
    font-size: 20px;
}

.footer-bottom .mini-logo span {
    color: rgb(132, 55, 130);
    font-size: 20px;
}

/* cat-games hissesi */

.header-cat-games {
    padding-top: 100px;
    width: 100%;





}

.header-cat-games .cat-img {
    width: 100%;
    height: 500px;
    background-color: #969696;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-cat-games .cat-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0px 10%;

}

.cat-img-grad {
    width: 100%;
    height: 100%;
    background-color: #00000084;
    position: absolute;
    z-index: 1;
}

.cat-name-p {
    text-align: center;
    color: white !important;
    font-size: 50px !important;
    background-color: #f4f4f435;
    width: 100%;
    padding: 50px;
    position: absolute;
    z-index: 2;
}

.filter {
    display: flex;
    width: 100%;
    justify-content: space-between;

    flex-wrap: wrap;
    border-bottom: 1px solid #444;
}

.filter h3 {
    color: #C545ED;
    font-size: 30px;
    margin-right: 20px;
}

.price-sort,
.name-sort {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.cat-filter {
    width: 100%;
    margin-bottom: 15px;
}

.cat-filter h3 {
    width: 100%;
    margin: 20px 0px 15px;

}

.cat-list {
    display: flex;
    list-style: none;
    color: white;
    justify-content: space-around;
    align-items: baseline;
}

.cat-list li {
    font-size: 25px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    padding: 5px 20px;
    border-radius: 0.5cm;

}

.cat-list li:hover:not(.cat-list li[class="active-cat"]) {
    color: #C545ED;
}

.active-cat {
    background-color: #7b2794;

}

label {
    display: flex !important;
    align-items: center;
    color: white;
    margin-left: 30px;
}

input[type="radio"] {
    margin-right: 5px !important;

    /* icindekinin rengini deyismek ucun bu */
    accent-color: #C545ED;

}

/* oyun cardlari */

.game-cards {
    width: 100%;
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 70px;
    /* gap: 5px; */
}

.game-card-img {
    width: 100%;
    height: 280px;
    overflow: hidden;
    border-top-left-radius: 0.3cm;
    border-top-right-radius: 0.3cm;

}

.card-link {
    display: block;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
    width: 23%;
    background-color: #80808050;
    text-decoration: none;
    border-radius: 0.3cm;
    margin: 25px 0px;
    border-bottom: 5px solid #752C8C;
    position: relative;
    transition: 0.5s;
}

.game-card {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 0.3cm;
}

.rating-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24%;
    z-index: 1;
    padding: 10px 0px;
    background-color: #373737d6;
    position: absolute;
    border-top-right-radius: 0.3cm;
    border-bottom-right-radius: 0.3cm;
    left: -7px;
    top: 40px;
}

.rating-div span {
    color: white;
    font-size: 20px;
}

.rating-div i {
    color: #FFC75F;
    font-size: 15px;
}

.discount-div {
    width: 25%;
    background-color: #488553;
    position: absolute;
    z-index: 1;
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
    font-size: 25px;
    padding: 10px 0px;
    top: 200px;
    right: -7px;


}



.game-card-img img {
    width: 100%;
    height: 100%;

}

.card-text {
    width: 95%;
    padding: 5px 0px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.card-text h2 {
    color: white;
    font-size: 15px;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    letter-spacing: 0px;
    font-weight: 900;
    width: 100%;

}

.card-text p {
    color: rgb(200, 200, 200);
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    letter-spacing: 1px;
    font-size: 10px;
    font-weight: 500;
    width: 100%;

}

.card-text .card-prices {
    display: flex;
    width: 100%;
    margin-top: 0px;
    align-items: center;
    color: white;
    justify-content: right;
}

.card-old-price {
    text-decoration: line-through;
    font-size: 20px;
    color: #c7c7c7;
}

.card-new-price {
    font-size: 35px;
    margin-left: 15px;
}

.card-link:hover {
    transform: translateY(-10px);
}

.game-card::before {
    content: "";
    width: 60%;
    height: 100%;
    transform: skewX(-40deg);
    position: absolute;
    top: 0px !important;
    left: -130%;

    transition: 1s;
}

.card-link:hover .game-card::before {
    left: 200%;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0) 100%);

}

/* pagenation */

.pagenation {
    width: 60%;

    justify-content: center;
    margin: auto;
    display: flex;
    gap: 10px;
}

.pagenation button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 25px;
    border-radius: 0.4cm;
    border: none;
    transition: 0.4s;
}

.pagenation .page-active {
    background-color: #752C8C;
    color: white;
    cursor: auto;

}

.pagenation button:hover {
    background-color: #752C8C;
    color: white;
}

/* profile comment */
.profile-header {
    width: 100%;
    max-height: 350px !important;
    overflow: hidden;
    padding-top: 80px;
}

.stars-profile {
    width: 100%;
    position: relative;
    height: 50%;
}

.profile-header-text {
    position: absolute;
    z-index: 1000px;
    top: 150px;
    right: 0px;
    width: 23%;
}

.profile-header-text p {
    color: white;
    background-color: #14141494;
    padding: 10px;
    text-align: center;
    font-size: 45px;
    margin-left: auto;

}

.profile {
    width: 100%;
    display: flex;
}

.profile-left-side {
    width: 22%;
    padding: 150px 0px 0px;

    background-color: #1F1F1F;
    box-shadow: 2px 0 10px rgb(0 0 0 / 6%);
    position: relative;
}



.profile-img {
    overflow: hidden;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    position: absolute;
    left: 42px;
    top: -100px;
    border: 10px solid #8B8B8B;

}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.profile-ul {
    list-style: none;
    text-align: center;

}

.profile-ul a {
    color: #B5B5B5;
    font-size: 25px;
    text-decoration: none;
    transition: 0.5s;
}

.profile-ul a:hover {
    color: #C545ED;
    font-size: 25px;
    text-decoration: none;
}

.profile-ul li {
    width: 80%;
    margin: auto;
    padding: 20px 0px;
    border-bottom: 1px solid #B5B5B5;
}

.profile-right-side {
    width: 78%;
    min-height: 1209px !important;
    padding-bottom: 100px;
}

.profile-right-side h2 {
    margin: 50px 0px;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 50px;

}

.profile-settings {
    width: 75%;
    padding: 50px 40px;
    margin: auto;

    background-color: #1F1F1F;
    border-radius: 0.3cm;

}

.profile-settings h3 {
    font-size: 25px;
    margin-bottom: 50px;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    color: #d1d1d1;

}

.profile-settings label {
    font-size: 20px;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    color: #cbcbcb;
    margin-left: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;


}

.profile-settings input {
    width: 100%;
    padding: 10px;
    font-size: 20px !important;
    border: none;
    border-radius: 0.3cm;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    margin: 10px 0px;
}

.profile-settings input[type="file"] {
    display: none;
}

.profile-settings .file-btn {
    color: white;
    background-color: #7b2794;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 15px;
    padding: 15px;
    cursor: pointer;
    border-radius: 0.3cm;
    transition: 0.5s;
}

.profile-settings .file-btn:hover {
    color: #7b2794;
    ;
    background-color: rgb(208, 208, 208);

}


.password-label input {
    width: 90%;
}


.password-label span {
    width: 45px;
    height: 45px;
    margin-left: 10px;
    border: 2px solid #cbcbcb;
    border-radius: 0.3cm;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}


.password-label span:hover {
    color: #C545ED;
    border: 2px solid #C545ED;


}

.settings-btn {
    font-size: 30px;
    display: block;
    color: white;
    background-color: #C545ED;
    width: 30%;
    padding: 15px;
    margin: auto;
    cursor: pointer;
    border: none;
    transition: 0.5s;
    border-radius: 0.3cm;
}

.settings-btn:hover {

    color: rgb(220, 220, 220);
    background-color: #7a1499;


}

/* profile games*/

.profile-games {
    width: 85%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 35px;
    margin: auto;

}

.profile-game-a {
    display: block;
    width: 30%;
    position: relative;
    margin-bottom: 20px;


}

.profile-game {
    border-radius: 0.3cm;
    width: 100%;
    background-color: #343434;
    height: 350px;
    overflow: hidden;
    position: relative;
}

.profile-game img {
    width: 100%;
    height: 100%;
    transition: 0.5s;


}

.profile-game-name {
    width: 100%;
    background-color: #161516b7;
    position: absolute;
    bottom: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: 70px;
    text-align: center;
    padding: 0px 10px;
    transition: 0.6s;
    color: white;
}


.profile-game-a:hover .profile-game img {
    transform: scale(1.05);
}

.profile-game-a:hover .profile-game-name {
    bottom: 0px;
}

.delete-profile-game {
    position: absolute;
    top: -10px;
    z-index: 10;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 30px;
    right: -10px;
    color: #872323;
    cursor: pointer;
    border-radius: 0.3cm;
    transition: 0.8s;
    background-color: rgba(255, 255, 255, 0.704)
}

.logout-li {
    border: none !important;
    padding: 0px !important;
    margin-top: 100px !important;
}

.logout-li a:hover {

    background-color: #B5B5B5;
    color: #101010;

}

.logout-li a {
    display: block;
    padding: 15px;
    margin: auto;
    width: 80% !important;
    border-radius: 0.3cm;
    border: 1px solid #B5B5B5;


    font-size: 20px !important;
}

.delete-profile-game:hover {
    color: rgba(255, 255, 255, 0.704);
    background-color: #872323;
}

/* readmore hissesi */
.readmore-h1 {
    color: white;
    font-size: 50px;
    margin: 20px 0px;
}

.readmore-container {
    width: 100%;
    background-color: #262626;
    padding: 30px 30px 50px;
    border-radius: 0.5cm;
}

.right-side-readmore {
    width: 90%;

    /* background-color: #7b2794; */
    padding-top: 100px;
    padding-bottom: 200px;
    margin: auto;
}

.exit-readmore {
    color: white;

    display: inline-block;
    margin-bottom: 5px;
    text-decoration: none;
    font-size: 60px;
    transition: 0.5s;
}

.exit-readmore:hover {
    color: #C545ED;
    transform: translateX(-5px);

}

.readmore-content {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.readmore-left {
    width: 64%;
    max-height: 550px;
}




.readmore-left .swiper {
    width: 100%;
    height: 100%;
}

.readmore-left .swiper-slide {
    border-radius: 0.4cm !important;
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.readmore-left .swiper-slide img {
    display: block;
    border-radius: 0cm !important;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.readmore-left .swiper {
    width: 100%;
    border-radius: 0.4cm !important;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.readmore-left .swiper-slide {
    background-size: cover;
    background-position: center;
}

.readmore-left .mySwiper2 {
    height: 80%;
    width: 100%;
}

.readmore-left .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.readmore-left .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    margin-top: 5px;
    border-radius: 0.2cm !important;
    opacity: 0.4;
}

.readmore-left .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.readmore-left .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.readmore-right {
    width: 34%;

    padding: 25px;
    border-radius: 0.4cm;
    background-color: #171717;
}

.readmore-game-name {
    color: white;
    font-size: 40px;
}

.name-fav {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
}

.readmore-game-name {
    width: 84%;

}

.fav-icon-btn {
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #969696;
    width: 15%;
    transition: 0.5s;
}

.fav-icon-btn:hover {
    font-size: 35px;
    color: #ab3737;
}

.readmore-game-info {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    color: #d6d6d6;
    font-size: 15px;
    font-style: normal;
    padding-bottom: 20px;
    border-bottom: 1px solid #444;
}

.readmore-ul {
    margin: 30px 0px 70px;
    list-style: none;

}

.readmore-ul li:not(.readmore-ul li span) {
    margin-bottom: 10px;
    color: white;
    font-size: 16px;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
}

.readmore-ul li span {
    color: #C545ED;
    font-size: 23px;
}

.readmore-game-price {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: end;
}

.readmore-old-price {
    text-decoration: line-through;
    color: #444;
    font-size: 30px;

}

.readmore-new-price {
    margin-left: 10px;
    color: white;
    font-size: 50px;
}

.readmore-btns {
    width: 100%;
    display: flex;
    margin: 20px 0px;
    justify-content: right;

}

.readmore-btns button {
    width: 43%;
    padding: 15px 0px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 0.3cm;
    border: none;
    color: white;
    transition: 0.3s;
}



.add-cart-btn {
    background-color: #579D5B;
    animation-name: btn-scale;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}



.add-cart-btn:hover {
    background-color: #54c459;
    transform: scale(1.1);
}

.similar-games>h2 {
    color: white;
    text-align: center;
    margin: 50px 0px;
    width: 100%;
    font-size: 50px;
}

.similar-games {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn-see-more {
    font-size: 30PX;
    text-decoration: NONE;
    color: #C545ED;
    display: block;
    position: relative;
    width: 15%;
    padding: 10px 0px;
    border: 2px solid #C545ED;
    text-align: center;
    margin: 50px auto 0px;
    border-radius: 0.3cm;
    transition: 0.5s;
}

.btn-see-more:hover {
    color: #1A1A1A;
    background-color: #C545ED;

}

.login-div {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

}

.login-star {
    width: 100%;
}


.login-left-side {
    width: 55%;
    height: 100vh;
    z-index: 1000;
    top: 0px;

    position: absolute;
}

.login-left-side .left-p {
    display: inline-block;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    width: 70%;
    font-style: normal;
    text-align: center;
    top: 30%;
    margin-bottom: 10px;
    color: white;
    font-size: 55px;
    padding: 36px;
    background-color: #11111199;
}

.login-left-side .p-div {
    width: 100%;
    position: absolute;
    top: 30%;



}

.login-left-side .right-p {
    width: 50%;
    display: block;
    margin-left: auto;
    color: white;
    text-align: center;
    font-size: 85px;
    padding: 30px;
    background-color: #11111199;
}

.login-left-side .right-p span {

    color: #C545ED;

}

.login-right-side h2 {
    color: white;
    font-size: 60px;
    text-align: center;
}

.login-right-side p {
    color: rgb(215, 215, 215);
    font-size: 15px;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;

    font-style: normal;
    text-align: center;
}

.login-form {
    width: 100%;
    margin: auto;



}

.input-icon {
    width: 100%;
    border-bottom: 1px solid #b0b0b0;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.input-icon input {
    width: 90%;
    padding: 10px 0px 5px;
    background-color: transparent;
    border: none;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: white;
    font-size: 15px;
}

.input-icon input:focus {
    outline: none;

}

.input-icon label {
    margin: 0px;
    color: #b0b0b0;
    width: 100%;
}

.input-icon i {
    color: #b0b0b0;
    display: block;
    cursor: pointer;
    transition: 0.5s;

}

.input-icon i:hover {
    color: #C545ED;


}

.login-right-side {
    position: absolute;
    width: 45%;
    background-color: #1a1a1a;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    right: 0px;
    top: 0px;
    /* border-top-left-radius: 2cm;
    border-bottom-left-radius: 2cm; */
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
}

.login-container {
    width: 60%;
}

.login-btn {
    width: 100%;
    margin: 30px 0px;
    padding: 10px;
    font-size: 30px;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    background-color: #581c6a;
}

.login-btn:hover {

    background-color: #C545ED;
}

.signup-a {
    color: #C545ED;
    font-size: 24px;
}

.admin-nav {

    background-color: #101010;
}

.admin-h2 {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 30px;
    padding: 5px;
    margin: auto;
    color: white;
}


.admin-profile {


    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.admin-profile-img {
    width: 100px;
    height: 100px;
    /* border: 2px solid rgba(255, 255, 255, 0.155); */
    margin: auto;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    overflow: hidden;
}

.admin-profile-img img {
    width: 100%;
    display: block;
    object-fit: cover;
    height: 100%;

}

.admin-name {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}

.admin-ul li a {
    color: #b5b5b5;
    transition: 0.5s;
    display: block;
    width: 100%;
}

.nav-profile {
    padding: 0px !important;
}

.admin-ul li {

    font-size: 20px;


    position: relative;
}



.admin-ul li a .hover-profile:not(.active-hover-profile):hover {
    color: #7b2794;
    cursor: pointer;
}



.admin-ul li .hover-profile {
    transition: 0.5s;

    padding: 15px 70px;

    width: 100%;
    display: block !important;


}

.active-hover-profile {
    background-color: #242424;
    border-right: 5px solid #7a1499;
}

.back-to-site {
    padding: 10px 50px;
    margin-top: 40px;
    width: 100%;
    transition: 0.5s;
    display: block !important;
}

.back-to-site:hover {
    padding: 10px 45px;
    color: white;

}

/* sag hisse admin */
.admin-dash-h2 {
    color: white;
    font-size: 50px;
    margin-top: 30px;

}

.statistics-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;


}

.statistic-div {
    width: 24%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;
    padding: 40px 0px;
    border-bottom: 10px solid #7a1499;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 0.2cm;
    background-color: white;
}

.statistic-div:hover {
    transform: scale(1.02);
}

.statistic-div i {
    color: #7b2794;
    font-size: 40px;
    width: 100%;
    text-align: center;
    display: block;
}

.statistic-div span {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    color: #282828;
    font-style: normal;
    font-size: 50px;
    width: 100%;
    margin: 10px 0px;
    text-align: center;
    display: block;
}

.statistic-div p {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 900;
    color: #666666;
    font-style: normal;
    font-size: 18px;
    width: 100%;
    text-align: center;
    display: block;
}

.tables-div {
    width: 100%;


}

.tables-search-add {
    width: 100%;

    margin: 30px 0px 50px;
    display: flex;
    align-items: flex-start;


}

.search-input {
    font-size: 25px;
    width: 50%;
    border: none;
    padding: 10px 25px;
    border-radius: 1cm;
    background-color: #c5c5c5;
    color: black;
}

.search-input:focus {
    outline: none;
}

.search-input::placeholder {

    color: rgb(37, 37, 37);
}

.add-btn {
    display: flex;
    margin-left: 100px;
    color: #579D5B;
    color: white;
    padding: 15px;
    background-color: #579D5B;
    border-radius: 0.2cm;

    font-size: 20px;
    transition: 0.5s;
    align-items: center;
    text-decoration: none;
}

.add-btn span {
    font-size: 30px;
    margin-right: 5px;
}

.add-btn:hover {

    background-color: #72e077;
}

.admin-table {
    width: 100%;
    font-size: 25px;
    color: white;
    border: none !important;
    text-align: center;
    border-collapse: collapse;
}

.table-div {
    width: 100%;
    display: block;
    padding: 20px;
    background-color: #1D1D1D;
    border-radius: 0.3cm;
    border: 1px solid #2b2b2b;
}

.admin-table td {
    border: none;
    border-top: 1px solid #848282c2;
    padding: 10px;
}

.admin-table th {
    border: none;
    padding: 10px;
    color: #C545ED;

}

.admin-table th:not(.admin-table th:last-child) {
    border-right: 1px solid #848282c2;
}


.admin-table td:not(.admin-table td:last-child) {
    border-right: 1px solid #848282c2;
}

.edit-btn {
    color: white;
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    margin: auto;
    font-size: 20px;
    text-decoration: none;
    align-items: center;
    border-radius: 0.2cm;
    background-color: #3f185c;
    transition: 0.5s;
}

.info-btn {
    color: white;
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #4e194f;
    justify-content: center;
    margin: auto;
    font-size: 20px;
    text-decoration: none;
    align-items: center;
    border-radius: 0.2cm;
    transition: 0.5s;
}

.tools {
    width: 21%;
}

.delete-btn {
    color: white;
    background-color: #ab3737;
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    margin: auto;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
    border-radius: 0.2cm;
    border: none;
    transition: 0.5s;
}

.delete-btn:hover {
    background-color: #d62626;

}

.edit-btn:hover {
    background-color: #752aaf;

}

.info-btn:hover {
    background-color: #9d37a0;

}

.tools-div {

    display: flex;
}

.table-img {
    width: 100px;
    height: 150px;
    display: flex;
    overflow: hidden;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.user-img {
    width: 100px;
    height: 100px;
}

.table-img img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

/* edit-add form sehifesi */
.form-container {
    width: 100%;
    padding: 30px;

    margin-top: 40px;
    border-radius: 0.3cm;
    background-color: #262626;
}

.form-container p {
    width: 100%;

}

.back-btn {
    color: white;
    text-decoration: none;
    font-size: 40px;
    margin-bottom: 50px;
}

#file-edit {
    display: none;
}

.form-container form {
    margin: auto;
    width: 85%;
}

.file-edit-btn {
    cursor: pointer;
    font-size: 25px;
    margin-left: 0px;
    width: 25%;
    display: flex;
    transition: 0.5s;
    padding: 15px;
    border-radius: 0.3cm;
    justify-content: center;
    background-color: #7b2794;
}

.file-edit-btn:hover {
    color: #7b2794;
    background-color: rgb(208, 208, 208);
}

.input-edit-add-games {
    width: 100%;
    margin: auto;
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: space-between;

}

.input-edit-add-games input {
    width: 49%;
    padding: 15px;
    font-size: 20px !important;
    border: none;
    border-radius: 0.3cm;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    margin: 20px 0px;
}

.input-edit-add-games input:focus {
    outline: none;
}

.input-edit-add-games textarea {
    width: 100%;
    min-height: 300px;
    margin-top: 20px;
    resize: vertical;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    padding: 15px;
    font-size: 20px !important;
    border-radius: 0.3cm;
}

.input-edit-add-games textarea:focus {
    outline: none;
}

.cat-img-change {
    width: 100%;
    display: flex;
margin-top: 20px;
    align-items: baseline;
    justify-content: right;
}

.cat-img-change select {
    height: max-content;
    padding: 15px;
    border-radius: 0.3cm;
    font-size: 25px;
    cursor: pointer;
}

.cat-img-change select:focus {
    outline: none;

}

.edit-add-btn {
    width: 25%;
    font-size: 40px;
    display: block;
    margin: 30px auto;
    font-weight: 900;
    border-radius: 0.3cm;
    padding: 15px;
    transition: 0.5s;
    border: none;
    border: 5px solid #4f1a60;
    cursor: pointer;
    color: #fdfdfd;
    background-color: #7b2794;
}

.edit-add-btn:hover {
    border: 5px solid #632379;
    background-color: #9f49b9;
}

.category-label {
    font-size: 35px;
    width: 35%;
    justify-content: space-between;
    display: flex;
}


/* cart-modal hissesi */
.cart-modal-div {
    width: 100%;
    height: 100vh;
    background-color: #020202c1;
    position: fixed;
    z-index: 10000;
}

.cart-modal {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    box-shadow: -2px 2px 20px 1px rgba(57, 40, 61, 0.674);
    background-color: #1A1A1A;
    right: 0px;
}

.cart-modal-container-decors {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
    position: relative;
    /* background-color: #581c6a; */
}

.line-decor-top {
    width: 20%;
    position: absolute;
    display: block;
    height: 2px;
    right: 10px;
    top: 0px;
    background-color: #C545ED;
}

.line-decor-top::before {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    display: block;
    top: 10px;
    height: 2px;
    right: 50px;
    background-color: #752C8C;
}

.line-decor-right {
    width: 3px;
    display: block;
    height: 40%;
    top: 10px;
    right: 0px;
    position: absolute;
    background-color: #C545ED;
}

.line-decor-right::before {
    content: "";
    display: block;
    width: 2px;
    top: 100px;
    position: absolute;
    display: block;
    height: 100%;
    right: 10px;
    background-color: #752C8C;
}



.line-decor-left {
    width: 2px;
    display: block;
    height: 40%;
    bottom: 10px;
    left: 0px;
    position: absolute;
    background-color: #C545ED;
}

.line-decor-left::before {
    content: "";
    display: block;
    width: 2px;
    bottom: 100px;
    position: absolute;
    display: block;
    height: 100%;
    left: 10px;
    background-color: #752C8C;
}



.line-decor-bottom {
    width: 20%;
    position: absolute;
    display: block;
    height: 2px;
    left: 10px;
    bottom: 0px;
    background-color: #C545ED;
}

.line-decor-bottom::before {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    display: block;
    bottom: 10px;
    height: 2px;
    left: 50px;
    background-color: #752C8C;
}


.modal-container {
    width: 92%;
    height: 94%;
    margin: auto;
}

.cart-h3 {
    margin: auto;
    height: min-content;
    display: block;
    width: 100%;
    color: white;
    font-size: 50px;
    position: relative;
    border-bottom: 1px solid #72727264;
    text-align: center;
}

.exit-cart {
    position: absolute;
    cursor: pointer;
    left: 0px;
    top: 10px;
    transition: 0.3s;
    font-size: 35px;
}

.exit-cart:hover {
    color: rgb(203, 203, 203);
    transform: translateX(5px);
}

.cart-games-div {
    width: 100%;
    height: 450px;
    overflow-y: auto;
    border-bottom: 1px solid #72727264;
    margin: 5px 0px 10px;
    scrollbar-color: #3f3f3f8f#1a1a1a;
    display: flex;
    flex-direction: column;

}

.cart-game {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #3636368f;
    display: flex;
    transition: 0.3s;
    align-items: center;
    flex-direction: row;
}

.cart-game:hover {

    background-color: rgba(81, 81, 81, 0.561);

}

.cart-game-img {
    width: 90px;
    display: flex;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    height: 120px;

}

.cart-game-info {
    display: flex;
    height: 130px;
    flex-direction: column;
    width: 45%;
    padding-right: 10px;
    /* background-color: #3f185c; */
}

.cart-game-img img {
    width: 100%;
    object-fit: cover;
    height: 100%;

}

.cart-game-cat {
    color: #C545ED;
    margin: 5px 0px;
    font-size: 15px;
    align-self: flex-start;
}

.cart-game-name {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: 22px;
    font-style: normal;
    margin: auto 0px;
    color: white;
}

.cart-game-developer {
    display: block;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 13px;
    font-style: normal;
    margin: auto 0px;
    margin-top: 5px;
    color: #afafaf;
}

.cart-game-price {
    color: white;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 900;
    text-align: center;
    margin-left: auto;
    width: 24%;
    font-size: 20px;
    font-style: normal;
    padding: 10px;
    border-left: 2px solid #6d6d6d;
    border-right: 2px solid #6d6d6d;
}

.cart-delete-btn {
    border: none;
    border: 3px solid #171717;
    background-color: rgb(224, 224, 224);
    font-size: 20px;
    color: #171717;
    cursor: pointer;
    padding: 3px;
    transition: 0.3s;
    border-radius: 0.2cm;
}

.cart-game-delete {
    width: 7%;
    display: flex;
    justify-content: center;
    margin-left: auto;

}

.cart-delete-btn:hover {
    border: 3px solid #ab3737;
    color: #ab3737;
}

.cart-price-btns-div {
    width: 100%;


}

.cart-total-price {
    width: 100%;
    font-size: 35px;
    display: flex;
    justify-content: space-between;
    color: white;

}

.cart-btns {
    margin-top: 20px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.clear-cart-btn {
    padding: 10px;
    cursor: pointer;
    border: none;
    border: 2px solid #b9b9b9;
    color: #b9b9b9;
    background-color: transparent;
    font-size: 25px;
    transition: 0.3s;
    border-radius: 0.3cm;
    margin-right: 50px;
}

.clear-cart-btn:hover {

    border: 2px solid #ab3737;
    color: #ab3737;


}

.buy-cart-btn {
    width: 30%;
    cursor: pointer;
    font-size: 30px;
    color: white;
    background-color: #7b2794;
    border: 2px solid #C545ED;
    padding: 10px;
    transition: 0.3s;
}

.buy-cart-btn:hover {

    color: white;
    background-color: #4c125e;
    border: 2px solid #8725a5;

}

.admin-modal {
    background-color: #020202c1;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;

}

.admin-modal-context {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 70px 50px;
    box-shadow: -2px 2px 20px 1px rgba(75, 75, 75, 0.323);
    background-color: #1f1f1f;
    border-radius: 0.2cm;


}

.admin-modal-context p {
    font-size: 30px;
    width: 100%;
    text-align: center;
    color: white;


}

.admin-modal-btns {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 40px;
    gap: 30px;
}

.admin-modal-btns button {
    width: 25%;
    border: none;
    border-radius: 0.3cm;
    padding: 10px;
    display: inline-block;
    font-size: 25px;
    transition: 0.5s;
    cursor: pointer;
}

.admin-modal-btns .btn-no:hover {
    color: #d62626;
    border: 3px solid #d62626;

}

.admin-modal-btns .btn-no {
    color: #872323;
    border: 3px solid #872323
}

.admin-modal-btns .btn-yes {
    color: #579D5B;
    border: 3px solid #579D5B;
}

.admin-modal-btns .btn-yes:hover {
    color: #00ff0d;
    border: 3px solid #00ff0d;
}

.form-container .images {
    width: 100%;

    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    border-radius: 0.3cm;
    /* background-color: #343434; */

}

.main-game-img {
    width: 20%;
    height: 100%;

}

.main-img {
    width: 99%;
    height: 230px;
    padding: 5px;
    border: 2px solid rgba(255, 255, 255, 0.189);
    border-radius: 0.2cm;
    margin-bottom: 15px;
}

#main-img-file {
    display: none;
}

.btns-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.main-img-file-label {
    background-color: #7b2794;
    display: block;
width: 20%;
    font-size: 25px;
padding: 15px;
    transition: 0.5s;
    margin: 0px;
    border-radius: 0.2cm;
    cursor: pointer;
    justify-content: center;
}

.main-img-file-label:hover {
    background-color: white;
    color: #7b2794;
}

.main-img img {
    width: 100%;
    height: 100%;
    border-radius: 0.2cm;
}

.additional-game-imgs {
    width: 80%;

    flex-wrap: wrap;
    gap: 20px;

    display: flex;
    /* background-color: #00ff0d; */
}

.additional-game-imgs .add-img {
    width: 29%;
    height: 150px;
    padding: 5px;
    border: 2px solid rgba(255, 255, 255, 0.189);

    border-radius: 0.2cm;

}

.additional-game-imgs img {
    width: 100%;
    height: 100%;
    border-radius: 0.2cm;

}
















@keyframes grad-hereket {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 0% 50%;
    }


}

@keyframes btn-scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }



}